# Environment & typing
python-dotenv==1.1.1
typing-extensions==4.14.1
ipython==8.37.0

# LangChain ecosystem
langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-ollama==0.3.3
langchain-openai==0.3.27
langchain-tavily==0.2.6

# LangGraph
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2

# LangSmith tracing
langsmith==0.3.45